{% extends 'base.html' %}
{% block body %}
    <h1>car information list</h1>
    <div><a href="{% url 'Verna:create' %}">carinformation create</a></div>
    <div><a href="{% url 'Verna:contact_page' %}"> Contact </a></div>
    <div><a href="{% url 'logout' %}"> Logout </a></div>




    <p>{{current_time}}</p>
    <p>{{current_date}}</p>

<table>
    <tr>
        <th>car id</th>
        <th>car name</th>
        <th>car detail</th>
        <th>car price</th>
        <th>car design</th>
        <th>car Edit</th>
        <th>car Delete</th>
    </tr>

    {% for cars in car %}
    <tr>
        <td><a href="{% url 'Verna:car_detail' cars.id %}">{{ cars.id }}</a></td>
        <td>{{cars.name}}</td>
        <td>{{cars.details}}</td>
        <td>{{cars.price}}</td>
        <td>{{cars.design}}</td>
        <td> <a href = "{% url 'Verna:car_edit' cars.id %}">Edit</a></td>
        <td> <a href = "{% url 'Verna:car_delete' cars.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock body%}